.animate-success-check {
  animation: rotateCheck 0.6s ease-in-out;
}

@keyframes rotateCheck {
  0% {
    transform: rotate(-45deg) scale(0);
    opacity: 0;
  }
  25% {
    transform: rotate(-45deg) scale(1.1);
  }
  50% {
    transform: rotate(-45deg) scale(1.2);
  }
  75% {
    transform: rotate(-45deg) scale(1.1);
  }
  100% {
    transform: rotate(-45deg) scale(1);
    opacity: 1;
  }
}
